/* HERO SECTION */
.hero-section {
  background-color: #134734; /* dark green */
  min-height: 400px;
}

/* BUTTON */
.btn-pink {
  background-color: #e6007e;
  color: #fff;
  border-radius: 50px;
}

.btn-pink:hover {
  background-color: #c4006b;
  color: #fff;
}

/* SVG DIVIDER */
.divider {
  position: relative;
  width: 100%;
  margin-top: -1px;
}

.divider svg {
  display: block;
  width: 100%;
  height: 90px;
}

/* ICON IN THE MIDDLE */
.divider-icon {
  position: absolute;
  left: 50%;
  top: 45px;
  transform: translate(-50%, -50%);
  background: #2ea44f;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
