.vid-loop {
  height: 100vh;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

/* Replace video selector with iframe */
.vid-loop iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;

  /* Equivalent of object-fit: cover */
  transform: scale(1.1);
  border: none;
}
